.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  background-color: #0A192F;
  color: white;
  padding: 1.5rem; }
  .header__list {
    display: flex; }
  .header__item {
    margin: 0rem 1rem; }
  .header__hamburger-container {
    position: relative; }
  .header__hamburger-icon {
    display: none; }

@media (max-width: 768px) {
  .header__list {
    display: none; }
  .header__hamburger-icon {
    display: flex;
    box-sizing: border-box;
    width: 2rem;
    position: absolute;
    top: -0.5rem;
    right: 0; } }

.hero {
  color: whitesmoke;
  background-color: #0A192F;
  padding: 2rem 2rem 2rem 2rem;
  height: 100vh;
  display: flex; }
  .hero__content {
    display: flex;
    justify-content: center;
    margin: auto; }
  .hero__text {
    align-items: center;
    justify-content: space-evenly;
    margin: auto 2rem auto 0; }
    .hero__text--header {
      color: #72FACA;
      margin-bottom: 0.25rem;
      font-size: 32px; }
    .hero__text--body {
      font-size: 48px; }
  .hero__image {
    max-width: 50%; }

@media (max-width: 768px) {
  .hero__text--header {
    font-size: 24px; }
  .hero__text--body {
    font-size: 32px; } }

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  width: 90vw;
  max-width: 80rem;
  outline: orange solid 1px; }

.about-me__header {
  color: #72FACA;
  font-size: 18px; }

.about-me__body {
  color: whitesmoke;
  font-size: 18px; }

.portfolio__header {
  color: #72FACA;
  font-size: 18px; }

.portfolio__body {
  color: whitesmoke;
  font-size: 18px; }

.contact__header {
  color: #72FACA;
  font-size: 18px; }

.contact__body {
  color: whitesmoke;
  font-size: 18px; }
