.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  font-family: "Roboto Mono", sans-serif;
  background-color: rgba(10, 25, 47, 0.5);
  backdrop-filter: blur(16px);
  color: #72FACA;
  padding: 1.5rem; }
  .header__list {
    display: flex; }
  .header__item {
    margin: 0rem 1rem;
    position: relative; }
    .header__item a {
      position: inherit;
      z-index: 100; }
    .header__item::after {
      content: "";
      position: absolute;
      z-index: 99;
      width: 0%;
      height: 100%;
      left: 0;
      bottom: -3px;
      border-bottom: #00AAB3 solid 3px;
      transition: width 0.25s; }
    .header__item:hover::after {
      width: 100%;
      border-width: 3px; }
  .header__hamburger-container {
    position: relative; }
  .header__hamburger-icon {
    display: none; }
  .header__navbar {
    font-size: 18px; }
  @media (max-width: 768px) {
    .header__list {
      display: none; }
    .header__hamburger-icon {
      display: flex;
      box-sizing: border-box;
      width: 2rem;
      position: absolute;
      top: -0.5rem;
      right: 0; } }

.hero {
  color: whitesmoke;
  background-color: #0A192F;
  padding: 1.5rem 2rem 2rem 2rem;
  height: 100vh;
  display: flex;
  font-family: "Roboto", sans-serif; }
  .hero__content {
    display: flex;
    justify-content: center;
    margin: auto; }
  .hero__text {
    align-items: center;
    justify-content: space-evenly;
    margin: auto 2rem auto 0;
    line-height: 1.25; }
    .hero__text--header {
      color: #72FACA;
      font-size: 32px; }
    .hero__text--body {
      font-size: 48px; }
  .hero__image {
    max-width: 50%; }

@media (max-width: 768px) {
  .hero__text--header {
    font-size: 24px; }
  .hero__text--body {
    font-size: 32px; } }

.main-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: auto;
  width: 80vw;
  max-width: 80rem;
  font-family: "Roboto", sans-serif; }
  .main-content a {
    color: aquamarine; }

.about-me__header {
  color: #72FACA;
  font-size: 24px;
  margin-bottom: 1.5rem;
  position: relative;
  font-weight: 500;
  font-family: "Roboto Mono", sans-serif; }
  .about-me__header::after {
    content: "";
    background-image: url("../../img/line-with-circle.svg");
    position: absolute;
    top: 2rem;
    left: -2rem;
    width: 15rem;
    height: 2.75rem;
    background-repeat: no-repeat; }

.about-me__body {
  color: whitesmoke;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5; }
  .about-me__body p {
    margin-bottom: 1rem; }

.portfolio__header {
  color: #72FACA;
  font-size: 24px;
  margin-bottom: 1.5rem;
  position: relative;
  font-weight: 500;
  font-family: "Roboto Mono", sans-serif; }
  .portfolio__header::after {
    content: "";
    background-image: url("../../img/line-with-circle.svg");
    position: absolute;
    top: 2rem;
    left: -2rem;
    width: 15rem;
    height: 2.75rem;
    background-repeat: no-repeat; }

.portfolio__list {
  color: whitesmoke;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 1rem; }
  .portfolio__list img {
    max-width: 30rem; }

.portfolio-item {
  display: flex;
  transition: 1s; }
  .portfolio-item__caption {
    flex-shrink: 1;
    margin: auto 1rem;
    padding: 1rem; }
    .portfolio-item__caption h3 {
      color: #72FACA;
      font-weight: 500;
      font-family: "Roboto Mono", sans-serif;
      margin-bottom: 0.5rem; }
  .portfolio-item__about p {
    margin-bottom: 0.5rem; }
  .portfolio-item__links {
    display: flex;
    justify-content: space-around; }
  .portfolio-item__image {
    flex-grow: 1;
    position: relative;
    min-width: 26rem;
    min-height: 15rem;
    border: #00394b solid 4px; }
    .portfolio-item__image img {
      position: absolute;
      top: 0;
      left: 0;
      filter: grayscale(100%);
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .portfolio-item__image::before {
      content: "";
      position: absolute;
      left: 0;
      background-color: rgba(1, 101, 131, 0.75);
      width: 100%;
      height: 100%;
      max-height: 100%;
      z-index: 2;
      transition: background-color 0.3s ease; }
    .portfolio-item__image:hover img {
      filter: grayscale(0%); }
    .portfolio-item__image:hover::before {
      background-color: rgba(1, 101, 131, 0); }
  @media (max-width: 920px) {
    .portfolio-item {
      background-color: #00394b; }
      .portfolio-item__image {
        display: none; } }

.resume__header {
  color: #72FACA;
  font-size: 24px;
  margin-bottom: 1.5rem;
  position: relative;
  font-weight: 500;
  font-family: "Roboto Mono", sans-serif; }
  .resume__header::after {
    content: "";
    background-image: url("../../img/line-with-circle.svg");
    position: absolute;
    top: 2rem;
    left: -2rem;
    width: 15rem;
    height: 2.75rem;
    background-repeat: no-repeat; }

.resume__body {
  color: whitesmoke;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 1rem; }
  .resume__body--links {
    display: flex;
    justify-content: center;
    gap: 3rem; }
  .resume__body--image {
    margin: auto; }
    .resume__body--image img {
      max-height: 25rem;
      border: rgba(1, 101, 131, 0.75) solid 4px; }

.contact__header {
  color: #72FACA;
  font-size: 24px;
  margin-bottom: 1.5rem;
  position: relative;
  font-weight: 500;
  font-family: "Roboto Mono", sans-serif; }
  .contact__header::after {
    content: "";
    background-image: url("../../img/line-with-circle.svg");
    position: absolute;
    top: 2rem;
    left: -2rem;
    width: 15rem;
    height: 2.75rem;
    background-repeat: no-repeat; }
