$breakpoint-tablet: 768px;
$primary-navy: #0A192F;
$secondary-navy: #00394b;
$primary-aqua: #00AAB3;
$secondary-aqua: #72FACA;

// ~~ Navbar ~~
.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    position: fixed;
    width:100vw;

    font-family: "Roboto Mono", sans-serif;

    background-color: rgba(10, 25, 47, 0.5);
    backdrop-filter: blur(16px);
    color: $secondary-aqua;
    padding: 1.5rem; // 24px

    &__list {
        display: flex;
    }

    &__item {
        margin: 0rem 1rem; // 0, 16px
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 0%;
            height: 100%;
            left: 0;
            bottom: -3px;
            
            border-bottom: $primary-aqua solid 3px; 
            transition: width 0.25s;
        }

        &:hover {
            &::after {
                width: 100%;
                border-width: 3px;
            }
        }  
    }

    &__hamburger-container {
        position: relative;
    }

    &__hamburger-icon {
        display: none;
    }

    &__navbar {
        font-size: 18px;
    }
}

@media (max-width: $breakpoint-tablet) {
    .header {
        &__list {
            display: none;
        }

        &__hamburger-icon {
            display: flex;
            box-sizing: border-box;
            width: 2rem; // 32px

            position: absolute;
            top:-0.5rem; // 8px
            right:0;
        }
    }
}

// ~~ Hero Section ~~
.hero {
    color: whitesmoke;
    background-color: $primary-navy;

    padding: 1.5rem 2rem 2rem 2rem;
    height: 100vh;

    display: flex;

    font-family: "Roboto", sans-serif;

    &__content {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    &__text {
        align-items: center;
        justify-content: space-evenly;
        margin: auto 2rem auto 0;

        line-height: 1.25;

        &--header {
            color: $secondary-aqua;
            font-size: 32px;
        }
        &--body {
            font-size: 48px;
        }
    }

    &__image {
        max-width: 50%;
    }
}

@media (max-width: $breakpoint-tablet) {
    .hero {
        &__text {
            &--header {
                font-size: 24px;
            }

            &--body {
                font-size: 32px;
            }
        }
    }
}

// ~~ MAIN section ~~
.main-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    margin: auto;
    width: 80vw;
    max-width: 80rem;

    font-family: "Roboto", sans-serif;
    //outline: orange solid 1px;

    a {
        color:aquamarine;
    }
}

// Mixins for the main sections. 
@mixin article-header {
    color: $secondary-aqua;
    font-size: 24px;
    margin-bottom: 1rem;
    position: relative;

    font-weight: 500;
    font-family: "Roboto Mono", sans-serif;
}

@mixin article-body {
    color: whitesmoke;
    font-size: 18px;

    font-weight: 300;
    line-height: 1.5;
}


.about-me {
    &__header {
        @include article-header;
    }

    &__body {
        @include article-body;
        p {
            margin-bottom: 1rem;
        }
    }

    &__underline-svg {
        position: absolute;
        top: 2rem;
        left: -2rem;
    }
}

.portfolio {
    &__header {
        @include article-header;
    }

    &__list {
        @include article-body;
        display: flex;
        flex-direction: column;

        gap: 1rem;

        img {
            max-width: 30rem;
        }
    }

    &__underline-svg {
        position: absolute;
        top: 2rem;
        left: -2rem;
    }
}

.portfolio-item {
    display: flex;
    transition: 1s;

    &__caption {
        flex-shrink: 1;
        margin: auto 1rem;

        padding: 1rem;

        h3 {
            color: $secondary-aqua;
            font-weight: 500;
            font-family: "Roboto Mono", sans-serif;
            margin-bottom: 0.5rem;
        }
    }

    &__about {

        p {
            margin-bottom: 0.5rem;
        }
    }

    &__links {
        display: flex;
        justify-content:space-around;
    }

    &__image {
        flex-grow: 1;
        position: relative;
        min-width: 28rem;
        min-height: 17rem;

        border: $secondary-navy solid 4px;

        img {
            filter: grayscale(100%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            background-color: rgba(1, 101, 131, 0.75);
            width: 100%;
            height: 100%;
            max-height: 100%;
            z-index: 2;

            transition: background-color 0.3s ease;
        }

        &:hover {
            img {
                filter: grayscale(0%);
            }

            &::before {
                background-color: rgba(1, 101, 131, 0);
            }
        } 
    }

    @media (max-width: 920px) {
        &__image {
            display:none;
        }
        
        background-color: $secondary-navy;
    }
}



.resume {
    &__header {
        @include article-header;
    }

    &__body {
        @include article-body;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &--links {
            display: flex;
            justify-content: center;
            gap:3rem;
        }

        &--image {
            margin: auto;
            

            img {
                max-height: 25rem;
            }
        }
    }

    &__underline-svg {
        position: absolute;
        top: 2rem;
        left: -2rem;
    }
}

