$breakpoint-tablet: 768px;
$primary-navy: #0A192F;
$secondary-navy: #005C7B;
$primary-aqua: #00AAB3;
$secondary-aqua: #72FACA;

.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    position: fixed;
    width:100vw;

    background-color: $primary-navy;
    color: white;
    padding: 1.5rem; // 24px

    &__list {
        display: flex;
    }

    &__item {
        margin: 0rem 1rem; // 0, 16px
    }

    &__hamburger-container {
        position: relative;
    }

    &__hamburger-icon {
        display: none;
    }
}

@media (max-width: $breakpoint-tablet) {
    .header {
        &__list {
            display: none;
        }

        &__hamburger-icon {
            display: flex;
            box-sizing: border-box;
            width: 2rem; // 32px

            position: absolute;
            top:-0.5rem; // 8px
            right:0;
        }
    }
}

.hero {
    color: whitesmoke;
    background-color: $primary-navy;

    padding: 2rem 2rem 2rem 2rem;
    height: 100vh;

    display: flex;

    &__content {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    &__text {
        align-items: center;
        justify-content: space-evenly;
        margin: auto 2rem auto 0;

        &--header {
            color: $secondary-aqua;
            margin-bottom: 0.25rem;
            font-size: 32px;
        }
        &--body {
            font-size: 48px;
        }
    }

    &__image {
        max-width: 50%;
    }
}

@media (max-width: $breakpoint-tablet) {
    .hero {
        &__text {
            &--header {
                font-size: 24px;
            }

            &--body {
                font-size: 32px;
            }
        }
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin: auto;
    width: 90vw;
    max-width:80rem;
    outline: orange solid 1px;
}

.about-me {
    &__header {
        color: $secondary-aqua;
        font-size: 18px;
    }

    &__body {
        color: whitesmoke;
        font-size: 18px;
    }
}

.portfolio {
    &__header {
        color: $secondary-aqua;
        font-size: 18px;
    }

    &__body {
        color: whitesmoke;
        font-size: 18px;
    }
}

.contact {
    &__header {
        color: $secondary-aqua;
        font-size: 18px;
    }

    &__body {
        color: whitesmoke;
        font-size: 18px;
    }
}

