$breakpoint-tablet: 768px;

.header {
    display: flex;
    justify-content: space-between;

    padding: 1.5rem; // 24px

    &__list {
        display: flex;
    }

    &__item {
        margin: 0rem 1rem; // 0, 16px
    }

    &__hamburger-container {
        position: relative;
    }

    &__hamburger-icon {
        display: none;
    }
}

@media (max-width: $breakpoint-tablet) {
    .header {
        &__list {
            display: none;
        }

        &__hamburger-icon {
            display: flex;
            box-sizing: border-box;
            width: 2rem; // 32px

            position: absolute;
            top:-0.5rem; // 8px
            right:0;
        }
    }
}

.hero {
    color: white;
    background-image: linear-gradient(175deg, rgba(0,0,0,1) 0%, rgba(41,41,41,1) 72%, rgba(96,96,96,1) 100%);

    padding: 2rem;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}
